html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

header img {
    width: 207px;
}

ul {
    list-style-type: none;
    font-weight: 400;
}

li {
    display: inline-block;
    margin-right: 1.5rem;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: #202020;
}

.hero {
    position: relative;
    display: inline-block;
    width: 100%;
}

.hero img {
    width: 100%;
    display: block;
}

.overlay-text {
  position: absolute;
  top: 75%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 620px;
}

.date {
    text-transform: uppercase;
}

.hero-title {
    font-weight: bold;
}

/* Grid Section */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 5rem;
}

.grid img {
    width: 100%;
}

.grid h5 {
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    font-weight: bold;
}

.footer {
    background-color: #202020;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2rem 0;
}

.footer h5 {
    margin: 0;
}

.footer h6 {
    margin: 0;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    nav {
        padding-left: 0.5rem;
    }

    header img {
        width: 140px;
    }

    .overlay-text {
        top: 30%;
        left: 5%;
        transform: none;
        max-width: 360px;
    }

    .hero img{
        min-height: 400px;
        object-fit: cover;
    }

    .grid-container {
        padding: 0 3rem;
    }
}

/* About Me Page */

.about-content img {
    border-radius: 50%;
    width: 44%;
}

.about-content {
    padding: 0 1rem;
}

.about-content h2 {
    font-size: 2.2rem;
}

.about-paragraph {
    margin-bottom: 3rem;
}

.recent-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 3.5rem;
}

.recent-grid-element {
    margin-bottom: 1rem;
}

.recent-posts h2 {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media (min-width: 768px) {
    .about-content img {
        width: 20%;
        margin-left: 5rem;
    }

    .header-content {
        display: flex;
        margin-top: 5rem;
    }

    .header-text {
        max-width: 800px;
        margin-left: 5rem;
    }

    .header-subtext {
        padding: 3rem 20rem;
        max-width: 1000px;
    }

    .recent-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}
