@font-face {
  font-family: 'Cursed'; /* Choose a name for your font */
  src: url('CursedTimerUlil-Aznm.ttf') format('truetype'); /* Specify the correct path and format */
  /* Optional descriptors */
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Verdana", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    margin: 0 auto;
    margin-top: 200px;
}

.container #col {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 68px;
}

#home-score, #guest-score {
    background-color: black;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-family: Cursed;
    font-size: 90px;
    margin: 0;
}

.add {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: #9AABD8;
    gap: 10px;

}

.add button {
    margin-top: 20px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    height: 47px; 
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 18px;
    color: #9AABD8;
    cursor: pointer;
    font-family: Cursed, sans-serif;
}