/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: "Arimo", sans-serif;
}

.hero {
    background-image: url("images/annarbor.jpg");
    width: 100%;
    height: 343px;
    height: auto;
    padding: 80px 0;
    background-size: cover;
    background-position: center 60%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    background-color: #1D3557;
    padding: 6px 12px;
    text-shadow: 0px 0px 4px black;
    color: white;
    border-radius: 12px;
}

h2 {
    background-color: #2f568d;
    padding: 6px 12px;
    width: 412px;
    color: white;
    border-radius: 12px;
}

.activities {
    background-color: #5080c2;
    color: white;
}

.activities h3 {
    margin: 0;
    padding-top: 30px;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.act {
    width: 183px;
}

.activities img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.footer {
    height: 340px;
}

.card {
    display: flex;
    width: 400px;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #1D3557;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
    border-bottom: 6px solid #5c94e2;
}

.card img {
    width: 180px;
    height: 248px;
    object-fit: cover;
    border-radius: 10px;
}

.card-content {
    color: white;
    margin-left: 10px;
}

.card-content h3 {
    font-weight: bold;
}


